/* COLORS */
/*FONTS*/
.button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.head__button,
.send__button {
  display: block;
  margin: 0 auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}

.social__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 0px 10px 41px;
  cursor: pointer;
}

.button__icon {
  margin-top: 3px;
}

.button__icon--end {
  margin-left: 24px;
}

/* BTN PORTFOLIO */
.portfolio__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 480px) {
  .portfolio__buttons {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__buttons {
    justify-content: center;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__buttons {
    padding-bottom: 34px;
    padding-top: 94px;
  }
}

.buttons__item {
  background-color: #f5f4fa;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  line-height: 31px;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__item:hover {
  background-color: #2196f3;
  color: #fff;
  background: #2196f3;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1), 2px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* CLOSE-BTN */
.close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close__btn__icon {
  display: flex;
  fill: #000000;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
body *,
body *::before,
body *::after {
  margin: 0;
  padding: 0;
}
body ul,
body li {
  list-style: none;
}
body img {
  display: block;
  margin: 0;
  padding: 0;
}
body .link {
  text-decoration: none;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  display: flex;
  height: 60px;
  border-bottom: 1px solid #ECECEC;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 767px) {
  .header {
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    height: 80px;
  }
}
.header .nav {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-left: auto;
  align-items: space-between;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header .nav {
    display: none;
  }
}
.header .nav__link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-right: 46px;
  text-decoration: none;
  line-height: 16px;
  display: block;
}
.header .nav__link:hover, .header .nav__link:focus {
  color: #2196f3;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .link--active::after {
  content: "";
  display: block;
  position: relative;
  border-top: 4px solid #2196f3;
  border-radius: 2px;
  top: 30px;
}
.header .contact {
  display: flex;
}
@media screen and (min-width: 480px) and (max-width: 766px) {
  .header .contact {
    display: none;
  }
}
@media screen and (min-width: 766px) and (max-width: 1200px) {
  .header .contact {
    display: block;
  }
}
.header .contact__link {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 10px;
  fill: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 766px) {
  .header .contact__link {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header .contact__link {
    padding: 32px 0px 32px 50px;
  }
}
.header .contact__link:hover, .header .contact__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.logo {
  display: flex;
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo__accent {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo--light {
  color: #fff;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  padding-top: 60px;
}
@media screen and (min-width: 480px) {
  .logo--light {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 767px) {
  .logo--light {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--light {
    display: block;
  }
}

.head {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  max-width: 480px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  top: 60px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile.jpg");
  padding: 118px 0 118px;
}
@media screen and (min-width: 767px) {
  .head {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-img.jpg");
    max-width: 768px;
    height: 400px;
    padding: 118px 0 118px;
  }
}
@media screen and (min-width: 1200px) {
  .head {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img.jpg");
    max-width: 1600px;
    height: 600px;
    top: 80px;
  }
}

.features__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .features__image {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__image {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__image {
    width: 270px;
  }
}
.features__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.features__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .features__item {
    justify-content: center;
    text-align: center;
  }
}
.features__text {
  max-width: 240px;
  height: 101px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .features__text {
    max-width: 100%;
  }
}

.specialty {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .specialty {
    display: none;
  }
}
.specialty__photo {
  display: flex;
  justify-content: space-between;
}
.specialty__thumb {
  position: relative;
}
.specialty__label {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  padding-top: 27px;
}

.team {
  background-color: #f5f4fa;
}
@media screen and (min-width: 480px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200x) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__photo {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  gap: 30px;
}
.team__border {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__border {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__border {
    width: calc((100% - 90px) / 4);
  }
}
.team__person {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding: 30px 90px 0;
}
.team__work {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 10px 50px 16px;
  text-align: center;
}

/*CLIENTS*/
.clients {
  display: block;
  margin: 0 auto;
}
.clients .client__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.clients .client__link {
  display: flex;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .clients .client__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients .client__link {
    width: 170px;
  }
}
.clients .client__link:hover,
.clients .client__link:active {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

/*BUSINESS*/
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .grid {
    margin-top: 30px;
    margin-left: 30px;
  }
}
.grid__photos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.grid__signature {
  position: relative;
  background-color: #fff;
}
.grid__projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #212121;
  padding: 20px 24px 4px;
}
.grid__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 4px 24px 20px;
}

.box {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.box:hover .overlay,
.box:focus .overlay {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.boxes {
  border: 1px solid #eeeeee;
  background-color: #fff;
  list-style: none;
  width: 450px;
  height: 404px;
}
@media screen and (min-width: 767px) {
  .boxes {
    width: 354px;
    height: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .boxes {
    width: 370px;
    height: 404px;
  }
}

.boxes:hover,
.boxes:focus {
  box-shadow: 3px 10px 8px 2px rgba(0, 0, 0, 0.3);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  background: rgba(33, 150, 243, 0.9);
  color: rgba(255, 255, 255, 0.6);
  padding: 49px 45px 49px 24px;
}
.overlay__description {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #fff;
}

.social__icon {
  display: flex;
  align-items: center;
  padding: 0px 32px 18px;
}
@media screen and (min-width: 480px) {
  .social__icon {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--color {
  fill: #fff;
}

.social__link:hover,
.social__link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .social {
    display: flex;
    justify-content: center;
  }
}

.head__title {
  width: 365px;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0 30px;
}
@media screen and (min-width: 1200px) {
  .head__title {
    width: 696px;
    font-size: 44px;
    line-height: 60px;
    padding: 106px 0 30px;
  }
}

.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}

.social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .social__title {
    text-align: start;
  }
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 40px 40px 30px;
}

.secondary-contact {
  background-color: #2f303a;
}
@media screen and (min-width: 480px) {
  .secondary-contact {
    height: 603px;
  }
}
@media screen and (min-width: 767px) {
  .secondary-contact {
    height: 463px;
  }
}
@media screen and (min-width: 1200px) {
  .secondary-contact {
    height: 252px;
  }
}

.footer__list {
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-section {
    width: 480px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-section {
    margin-left: 76px;
    margin-bottom: 60px;
  }
}

.address {
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 9px;
}
@media screen and (min-width: 480px) {
  .address {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-bottom: 9px;
}
@media screen and (min-width: 480px) {
  .contact__link {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    display: block;
  }
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

footer > .container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .social-item {
    width: 480px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .social-item {
    padding-left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .social-item {
    padding-top: 30px;
    padding-left: 70px;
  }
}

.news__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.news__email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 10px 15px 16px;
  margin: 0;
  background-color: #2f303a;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  min-height: 609px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.is-hidden .modal {
  transform: translate(-50%);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

/* FORM */
label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

label:focus-within {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  font-family: inherit;
  padding-left: 40px;
  padding-right: 40px;
}
.form__icon {
  display: flex;
  position: absolute;
  top: 50%;
  left: 52px;
  outline: none;
}

input {
  padding: 10px;
  padding-left: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

input:focus-within {
  border-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  padding-bottom: 20px;
  width: 370px;
  height: 120px;
  padding: 10px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
@media screen and (min-width: 1200px) {
  textarea {
    width: 448px;
    height: 120px;
  }
}

textarea:focus-within {
  border-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* CHECKBOX */
.modal-form-policy:required {
  border-color: none;
}

.modal-form-policy-text {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 20px 40px 0px;
}
@media screen and (min-width: 1200px) {
  .modal-form-policy-text {
    padding: 20px 54px 0px;
    font-size: 14px;
  }
}

.modal-form-policy-text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: #2196f3;
  border: none;
  border-radius: 2px;
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.menu-container {
  padding-bottom: 48px;
  padding-left: 40px;
}

.menu-button {
  display: block;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-svg {
  margin-left: -10px;
}

.menu-svg:hover,
.menu-svg:focus {
  color: #2196f3;
}

.menu-close-btn {
  display: block;
  margin-left: 390px;
  border: none;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0%;
  z-index: 1;
  background-color: #ffffff;
  width: 100vh;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
}

.mob-link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration-line: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mob-link {
    display: none;
  }
}

.mob-link:hover,
.mob-link:focus {
  color: #2196f3;
}

.mob-menu-link {
  margin-bottom: 302px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration-line: none;
}

.pmob-menu-contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration-line: none;
}

.mob-social-link {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
}

.mob-social-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration-line: none;
  margin-right: 20px;
}/*# sourceMappingURL=main.css.map */