.secondary-contact{
    background-color: $bgc-footer;
    @media screen and (min-width:320px) {
        height: 706px;
    }
    @media screen and (min-width:767px){
        height:420px;
    }
    @media screen and (min-width:1200px){
        height: 252px;
    }

}
.footer__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    // @media screen and (min-width:320px){
    //     display: flex;
    //     justify-content: center;
        
    // }
}
.footer-section{
    @media screen and (min-width: 320px) and (max-width: 767px) {
        margin-bottom: 60px;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        margin-left: 76px;
        margin-bottom: 60px;
    }
}
.address{
    @media screen and (min-width:320px){
        display: flex;
        padding-left: 10px;
    }
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $color-white;
    padding-top: 20px;
    padding-bottom: 9px;
    
  }
.contact {
    &__link {
        @media screen and (min-width:320px){
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @media screen and (min-width:1200px) {
            display: block;
        }
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-decoration: none;
        padding-bottom: 9px;
    }

    &__link:hover,
    &__link:focus {
        color: $color-accent;
    }
}
footer>.container {
    display: flex;
    align-items:center;
}
.social-item {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 480px;
        margin-bottom: 60px;
        margin-left: 0;
    }

    @media screen and (min-width: 768px){
        padding-left: 100px;
    }
    @media screen and (min-width:1200px){
         padding-top: 30px;
         padding-left: 70px;
    }
//     margin-left: 70px;
//     padding-bottom: 60px;
//     @media screen and (max-width:767px) and (min-width:1200px){
   
// }
}
.news__item {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  gap: 12px;

}
.news__email{
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      padding: 15px 10px 15px 16px;
      margin: 0;
      background-color:$bgc-footer;
      @media screen and (min-width:320px){
        width: 250px;
      }
    }
