/* COLORS */

$color-accent:#2196f3;
$color-black: #000000;
$color-white: #fff;
$colorBorderBottom: #ECECEC;
$bgc-vanila:#f5f4fa;
$bgc-footer: #2f303a; 
$color-gray: #212121;
$colorGrayLight: #757575;  
$border-gray: #AFB1B8;
$colorWhiteDark: #eeeeee;

/*FONTS*/

$primary-font:'Roboto', sans-serif; 
$logo-font: 'Raleway', sans-serif;